<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "com.etg.expensetogo"
		versionCode	= "10"
		version		= "1.0.0">
	
	<name>Expense To Go</name>
	
	<description>
		Expenses made mobile
	</description>
	
	<author href="http://dollythepig.com" email="awylon@gmail.com">
		Expense To Go
	</author>
	
	<icon src="icon.png" />
	
	<gap:splash src="splash.png" />
	
	<gap:platform name="android" />
	
	<access origin="*" />
	
</widget>